<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="estilos.css" />
  </head>
  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50"/>

      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
          
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
              <td>{{ user.id }}</td>
              <td>
                 <img 
                    src="img/{{user.foto}}" 
                    alt="photo" 
                    width="50" 
                    height="50">
                  >
              </td>
              <td>{{ user.nombre }}</td>

              <td>{{ user.year_exp }}</td>
              <td>{{ user.especialidad }}</td>

              <td>
                <input 
                  data-id="{{ user.id }}" 
                  type="checkbox" 
                  class="check-estado" 
                  {% if user.estado %}checked{% endif %}
                >
              </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>
      <a href="/">Lista de Participantes</a> 
      
      {% block scripts %}

      <script 
            src="https://code.jquery.com/jquery-3.5.1.js" 
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous">
      </script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
          $('.check-estado').on('click', async function() {
            const estado = $(this).is(':checked')
            const id = $(this).attr('data-id')
            await axios.put(`/users/${id}`, 
                {
                  nuevo_estado: estado
                 })

              console.log(`El usuario ${id} cambia a ${estado}`);

          })
      </script>
      
      {% endblock %}
    </div>
  </body>
</html>
